<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceJobConfig" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <ServiceJobConfig>
    <!--服务插件入口类-->
    <add key="ServiceClass" value="LF.Winservice.Example.LogService,LF.Winservice.Example"/>
    <!--服务插件名称-->
    <add key="ServiceName" value="写日志服务"/>
    <!--服务插件描述-->
    <add key="Description" value="测试quatz写日志服务"/>
    <!--是否异常重启：True、 False-->
    <add key="ExceptionReset" value="True"/>
    <!--服务插件执行模式：OnlyOnce、 CycleExecute、 CalendarExecute-->
    <add key="CycleExecuteMode" value="CycleExecute"/>
    <!--服务插件周期执行间隔，单位为妙-->
    <add key="CycleExecuteInterval" value="3"/>
    <!--服务插件定时执行日程表达式-->
    <add key="CalendarExecuteExpression" value=""/>
    <add key="ManageServicePort" value=""/>  
  </ServiceJobConfig>
</configuration>