<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="WindowsServiceConfig" type="System.Configuration.AppSettingsSection" />
    <section name="CommonLoggingConfig" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
  </configSections>
  <WindowsServiceConfig>
    <!--服务程序文件名称-->
    <add key="ServiceFile" value="WindowsConsoleService.exe"/>
    <!--Windows服务名称-->
    <add key="ServiceName" value="WindowsConsoleService"/>
    <!--.Net Framework安装路径（留空由系统自行选择）-->
    <add key="FrameworkInstallPath" value=""/>
  </WindowsServiceConfig>
  <CommonLoggingConfig>
    <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
      <arg key="configType" value="FILE-WATCH" />
      <arg key="configFile" value="~/log4net.config" />
    </factoryAdapter>
  </CommonLoggingConfig>
</configuration>